{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "ecmaFeatures": {
    "modules": true,
    "spread": true,
    "restParams": true
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "no-unused-vars": 2,
    "no-undef": 2,
    "react/jsx-filename-extension": 0
  }
}
